@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: rgb(231, 229, 228);
	--foreground: rgb(30, 41, 59);
	--card: rgb(238, 238, 238);
	--card-foreground: rgb(30, 41, 59);
	--popover: rgb(245, 245, 244);
	--popover-foreground: rgb(30, 41, 59);
	--primary: rgb(0, 153, 102);
	--primary-foreground: rgb(250, 250, 249);
	--secondary: rgb(68, 64, 61);
	--secondary-foreground: rgb(250, 250, 250);
	--muted: rgb(214, 211, 209);
	--muted-foreground: rgb(113, 113, 123);
	--accent: rgb(231, 229, 228);
	--accent-foreground: rgb(55, 65, 81);
	--destructive: rgb(239, 68, 68);
	--destructive-foreground: rgb(255, 255, 255);
	--border: rgb(214, 211, 209);
	--input: rgb(166, 160, 155);
	--ring: rgb(0, 153, 102);
	--chart-1: rgb(0, 188, 125);
	--chart-2: rgb(0, 146, 184);
	--chart-3: rgb(16, 78, 100);
	--chart-4: rgb(74, 85, 101);
	--chart-5: rgb(82, 82, 82);
	--sidebar: rgb(231, 229, 228);
	--sidebar-foreground: rgb(30, 41, 59);
	--sidebar-primary: rgb(0, 153, 102);
	--sidebar-primary-foreground: rgb(255, 255, 255);
	--sidebar-accent: rgb(214, 211, 209);
	--sidebar-accent-foreground: rgb(55, 65, 81);
	--sidebar-border: rgb(214, 211, 209);
	--sidebar-ring: rgb(0, 153, 102);
	--font-sans: Schibsted Grotesk, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Lora, serif;
	--font-mono: Roboto Mono, monospace;
	--radius: 1.25rem;
	--shadow-x: 2px;
	--shadow-y: 2px;
	--shadow-blur: 10px;
	--shadow-spread: 4px;
	--shadow-opacity: 0.18;
	--shadow-color: hsl(240 4% 60%);
	--shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
	--shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
	--shadow-sm:
		2px 2px 10px 4px hsl(240 4% 60% / 0.18),
		2px 1px 2px 3px hsl(240 4% 60% / 0.18);
	--shadow:
		2px 2px 10px 4px hsl(240 4% 60% / 0.18),
		2px 1px 2px 3px hsl(240 4% 60% / 0.18);
	--shadow-md:
		2px 2px 10px 4px hsl(240 4% 60% / 0.18),
		2px 2px 4px 3px hsl(240 4% 60% / 0.18);
	--shadow-lg:
		2px 2px 10px 4px hsl(240 4% 60% / 0.18),
		2px 4px 6px 3px hsl(240 4% 60% / 0.18);
	--shadow-xl:
		2px 2px 10px 4px hsl(240 4% 60% / 0.18),
		2px 8px 10px 3px hsl(240 4% 60% / 0.18);
	--shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
	--drop-shadow-liquid: 1px 1px 1px rgb(9, 21, 3);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: rgb(30, 29, 27);
	--foreground: rgb(232, 238, 248);
	--card: rgb(42, 42, 40);
	--card-foreground: rgb(226, 232, 240);
	--popover: rgb(45, 44, 45);
	--popover-foreground: rgb(226, 232, 240);
	--primary: rgb(94, 233, 181);
	--primary-foreground: rgb(30, 27, 24);
	--secondary: rgb(57, 57, 57);
	--secondary-foreground: rgb(250, 250, 250);
	--muted: rgb(52, 51, 48);
	--muted-foreground: rgb(156, 163, 175);
	--accent: rgb(53, 53, 50);
	--accent-foreground: rgb(213, 217, 224);
	--destructive: rgb(239, 68, 68);
	--destructive-foreground: rgb(30, 27, 24);
	--border: rgb(41, 37, 36);
	--input: rgb(115, 115, 115);
	--ring: rgb(162, 244, 253);
	--chart-1: rgb(83, 234, 253);
	--chart-2: rgb(70, 236, 213);
	--chart-3: rgb(94, 233, 181);
	--chart-4: rgb(0, 212, 146);
	--chart-5: rgb(0, 188, 125);
	--sidebar: rgb(44, 43, 41);
	--sidebar-foreground: rgb(226, 232, 240);
	--sidebar-primary: rgb(0, 212, 146);
	--sidebar-primary-foreground: rgb(30, 27, 24);
	--sidebar-accent: rgb(57, 57, 57);
	--sidebar-accent-foreground: rgb(209, 213, 219);
	--sidebar-border: rgb(58, 54, 51);
	--sidebar-ring: rgb(162, 244, 253);
	--font-sans: Schibsted Grotesk, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Lora, serif;
	--font-mono: Roboto Mono, monospace;
	--radius: 1.25rem;
	--shadow-x: 2px;
	--shadow-y: 2px;
	--shadow-blur: 10px;
	--shadow-spread: 4px;
	--shadow-opacity: 0.18;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
	--shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
	--shadow-sm:
		2px 2px 10px 4px hsl(0 0% 0% / 0.18),
		2px 1px 2px 3px hsl(0 0% 0% / 0.18);
	--shadow:
		2px 2px 10px 4px hsl(0 0% 0% / 0.18),
		2px 1px 2px 3px hsl(0 0% 0% / 0.18);
	--shadow-md:
		2px 2px 10px 4px hsl(0 0% 0% / 0.18),
		2px 2px 4px 3px hsl(0 0% 0% / 0.18);
	--shadow-lg:
		2px 2px 10px 4px hsl(0 0% 0% / 0.18),
		2px 4px 6px 3px hsl(0 0% 0% / 0.18);
	--shadow-xl:
		2px 2px 10px 4px hsl(0 0% 0% / 0.18),
		2px 8px 10px 3px hsl(0 0% 0% / 0.18);
	--shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
	--drop-shadow-liquid: 0 0 0 transparent;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
	--drop-shadow-liquid: var(--drop-shadow-liquid);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
